body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #f8f1f5;
}

.header .h2 {
    text-align: center;
}

.thead {
    border: none;
    background-color: #f169ad;
    color: white;
}

.list-table {
    margin-right: 10%;
    margin-left: 35%;
}

.edit {
    margin-right: 10%;
    margin-left: 20%;
    background-color: #c8e647
}

.hapus {
    margin-right: 10%;
    margin-left: 20%;
    background-color: #f1300d
}

.form-class {
    align-items: center;
}